#Caracteristicas {
  background-color: rgb(243, 235, 235);
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-top: 8%;
  margin: 0 auto;
}
#Titulo_personaje {
  grid-column: span 2;
  grid-row: span 1;
  width: 90%;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bold;
  color: #FFD700 ;
  text-align: center;
  padding: 10px;
  background: linear-gradient(90deg, #f9d423, #ff4e50 );
  border-radius: 8px;
  color: #000000;
  transition: background 5s ease, transform 0.3s ease, text-shadow 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
}

#Titulo_personaje:hover{
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6); /* Sombra más intensa */
    transform: scale(1.05); /* Ligero aumento de tamaño */
}

/* Detalles del personaje */
.character-details {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 150%;
  text-align: left;
  color: #333;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Estilo de los textos */
.character-details p {
  margin: 10px 0;
}

.character-details p strong {
  color: #ff6600; /* Color para resaltar el título de cada atributo */
}

/* Alternancia de colores en cada atributo */
.character-details p:nth-child(odd) {
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 5px;
}

.character-details p:nth-child(even) {
  padding: 8px;
  border-radius: 5px;
}

.Tarjeta {
  margin-left: 40%;
}
